body {
  font-family: Poppins;
}
.weather-app {
  max-width: 650px;
  margin: 30px auto;
  padding: 2%;
  border: 1px solid #ffc93c;
  border-radius: 5px;
}
form {
  padding: 10px;
}
h1 {
  font-size: 32px;
  font-family: Poppins;
  color: #155263;
  font-weight: bold;
  padding: 10px, 0px;
}
.current-temperature {
  font-size: 48px;
}

ul {
  list-style: none;
}
li.first-letter,
.description {
  text-transform: capitalize;
}
.current-date {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  color: #ff6f3c;
}
.unit {
  font-size: 16px;
}
.current-stats {
  margin: 0;
  padding: 0;
  color: #ff6f3c;
}
.extended-forecast {
  font-size: 16px;
  color: #155263;
}
small {
  font-size: 12px;
  color: #ff6f3c;
}
.current-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.current-temperature .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
